.SoundCard {
  color: azure;
  width: 120px;
  height: 120px;
  background-color: white;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.7)
  );
  background-color: rgba(255,255,255,0.90);
  border: 5px solid azure;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  overflow-wrap: anywhere;

  margin: 4px;

  cursor: pointer;
}

.SoundCard:hover {
  background-image: linear-gradient(
    rgba(220, 220, 30, 0.3), 
    rgba(220, 220, 30, 0.7)
  );
  color: black;
}

.SoundCard:active:hover {
  background-image: linear-gradient(
    rgba(220, 220, 30, 0.4), 
    rgba(220, 220, 30, 0.8)
  );
  color: black;
}

/* hack to get content inside inline-block to center vertically https://codepen.io/edge0703/pen/DzaEex */
.SoundCard:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}